<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Tell PHP that the mod_rewrite module is ENABLED.
    SetEnv HTTP_MOD_REWRITE On
    
    # We don't want to pass calls to css, script, and image files to the index,
    # whether they exist or not. So quit right here, and allow direct access
    # to common format files. Add formats here to allow direct link access
    RewriteRule ^.*\.(gif|png|jpe?g|bmp|css|js|swf|wav|avi|mpg|ttf)$ - [NC,L]
    
    # Deny access to the system and third_party and System folders. All defined
    # file extensions from the previous rewrite rule wont make it here, which allows
    # direct access to images and such in these folders still.
    RewriteRule ^modules/ - [R=403,L,NC]
    RewriteRule ^system/ - [R=403,L,NC]
    RewriteRule ^themes/ - [R=403,L,NC]
    RewriteRule ^widgets/ - [R=403,L,NC]

    # Don't redirect direct links to non-existent files or directories to the index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all other URLs to index.php/URL
    RewriteRule ^(.*)$ index.php?uri=$1 [PT,L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Tell PHP that the mod_rewrite module is DISABLED.
    SetEnv HTTP_MOD_REWRITE Off
</IfModule>

# Deny direct access to template files
<Files ~ "(.tpl)">
    Order allow,deny
    Deny from all
</Files>